.contact-wrapper {
    margin: .5em 2em 2em 2em;
    padding: .5em;
    border-top: solid antiquewhite;
    border-bottom: solid antiquewhite;
    display: flex;
}

.contact-phone {
    padding: .5em;
    font-size: 1em;
    color: antiquewhite;
}

#contact-icon {
    margin-top: .6em;
    padding-left: .5em;
    font-size: 1em;
    color: antiquewhite;
}

