.header-wrapper {
    margin: 0em 2em;
}

.header-title {
    font-family: "MuseoModerno", sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    padding-left: .5em;
    padding-right: .5em;
    margin: 1em 0em;
    background-color: antiquewhite;
    border-radius: 1em;
}

@media (max-width: 480px) {
    .header-title {
        font-size: 1.2em; /* Even smaller font size for mobile screens */
    }
}

