.map-wrapper {
    margin: 1.5em 2em;
    padding: .5em;
    width: 100%; /* Ensures the map takes full width of the container */
    max-width: 600px; /* Limits the maximum width */
    background-color: antiquewhite;
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map-title {
    color: #253243;
    margin: .5em .5em;
    font-size: .9em;
}

iframe {
    width: 100%; /* Makes the map responsive */
    height: auto;
    aspect-ratio: 16 / 9; /* Maintains aspect ratio */
    border: 0;
}

@media (max-width: 700px) {
    .map-wrapper {
        max-width: 575px;
        margin: 1em auto;
    }
}

@media (max-width: 600px) {
    .map-wrapper {
        max-width: 475px;
        margin: 1em auto;
    }
}

@media (max-width: 500px) {
    .map-wrapper {
        max-width: 375px;
        margin: 1em auto;
    }
}

@media (max-width: 450px) {
    .map-wrapper {
        max-width: 325px;
        margin: 1em auto;
    }
}