.social-wrapper {
    display: flex;
    justify-content: center;
    padding: 0em .5em .5em 1em;
}

.social-icon {
    padding: .5em;
    font-size: 3.5em;
    color: antiquewhite;
}

.social-icon a {
    color: #b22222; /* Set anchor tag color to antiquewhite */
    text-decoration: none; /* Remove underline */
}

.social-icon a:hover, .social-icon a:active {
    color: antiquewhite; /* Dark but lively red */
}